@unocss all;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


// Custom Scrollbar

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}


// Video Wrapper

.glowing-box-shadow {
  &.blue {
    animation: glow-blue 1.5s infinite alternate;
  }

  &.green {
    animation: glow-green 1.5s infinite alternate;
  }
}

@keyframes glow-blue {
  from {
    box-shadow:
      0 0 30px #00bbf9,
      0 0 30px #00bbf9,
      0 0 30px #00bbf9,
      0 0 30px #00bbf9;
  }
  to {
    box-shadow:
      0 0 20px #64c2ec,
      0 0 20px #64c2ec,
      0 0 20px #64c2ec,
      0 0 20px #64c2ec;
  }
}

@keyframes glow-green {
  from {
    box-shadow:
      0 0 30px #08ff00,
      0 0 30px #08ff00,
      0 0 30px #08ff00,
      0 0 30px #08ff00;
  }
  to {
    box-shadow:
      0 0 20px #00f100,
      0 0 20px #00f100,
      0 0 20px #00f100,
      0 0 20px #00f100;
  }
}
